#bookexlogo {
	font-size: 72px;
}

#bookexlogo.frontpageonly {
}

#navigation  ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#navigation ul li {
	display: inline;
	padding-right: .3em;
}

#navigation {
	float: right;
	margin-right: 10px;
	margin-bottom: 5px;
}

#frontpagetopnavigationlist {
	float: right;
	margin-right: 10px;
	margin-bottom: 25px;
}

#search {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}

#page {
	clear: both;
	margin: 10px;
	border: solid 1px black;	
	background: #eee;
}

.header {
	font-family: 'Arial';
    font-size: 16px;
}

#footer {
	margin-left: auto;
	margin-right: auto;
}

#footernavigation {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#footernavigation li {
	display: inline;
	padding-right: .3em;
}

#copyrightstatement {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
	
.contentarea  {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px black;
	margin: 10px;
	padding: 5px;
	background: white;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}

.contentarea table {
	width: 98%;
	border-spacing: 0px 3px;
	margin-left: 1%;
	margin-right: 1%;
}

.contentarea table thead tr{
	background: #ddd;
}

.contentarea table tbody tr{
	background: #eee;
	border-spacing: 5px;
}

#centeringtextarea {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

#frontpagecontent {
	margin-top: 100px;
	margin-bottom: 100px;
}

/* These are the button columns, they are all the same width */
.yourrequestsbutton , .othersrequestsacceptbutton, .othersrequestsdenybutton, 
.bookreturnbutton, .receiptconfirmationsbutton, .deliveryconfirmationsbutton {
	width: 100px;
	text-align: center;
}

.leftContent {
	float: left;
	width: 200px;
}

.rightContent {
	float: left;
	padding: 10px;
}

.clear {
	clear: both;
}

#bookImageContent {
	text-align: center;
	margin: 10px;
}

#bookImagePhoto {
	margin-left: 25px;
	width: 150px;
	height: 200px;
	border: 1px solid black;
}

button {
	width:100px;
}

.smallbtn { 
	width: 100px !important;
	margin: 10px;
}

.actionButton {
	width: 100px !important;	
	min-width: 100px;
	height: 30px;
	margin: 10px;
}

#addBookForm div {
	min-height: 2em;
} 

/* For the details screen, the details are wrapped in a div.. so float it */
#addBookForm div  div{
	float: left;
} 
#addBookForm label {
	clear: left;
	float: left;
	width: 10em;
}

#addBookForm input[type='text'] {
	width: 35em;
}

#addBookForm textarea {
	width: 35em;
	height: 6em;
}

.pageTitle {
	font-size: 36px;
	margin: 10px;
}

.pageSubTitle {
	font-size: 24px;
	margin: 10px;
}

.bookDescription {
	max-width: 500px;
}

#informationbuttons {
	margin: 25px;
	text-align: center;
}

#informationbuttons input[type='submit'] {
	height: 100px;
	width: 200px;
	margin: 50px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 17pt;
}

#uwnetiddisplayarea {
	width: 40em;
	text-align: center;
}

#uwnetiddisplayarea label {
	clear: left;
	float: left;
	width: 50%;
	text-align: right;
	margin: 5px;
}

#uwnetiddisplayarea span {
	float: left;
	text-align: left;
	margin: 5px;
}

#uwnetiddisplayarea span input {
	width: 20em;
}

#additionalinfotextareas label {
	clear: left;
	float: left;
	width: 10em;
	text-align: right;
	margin: 5px;
}

#additionalinfotextareas input[type='text'] {
	float: left;
	text-align: left;
	width: 40em;
	margin: 5px;
}

#pleasenotemessage {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align: center;
}
/* Center the net ID area */
.centerDiv {
	margin-left: auto;
	margin-right: auto;
}

#agreeandregistercontent, #additionalinfotextareas{ 
	width: 70%;
}

#agreementbuttons {
	width: 70%;
	text-align: center;
	padding: 10px;
}

#agreementbuttons input[type='submit'] {
	margin: 15px;
}