
#bookexbackground{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	/*background-color: #ccc;*/
	border: 0px #ccc solid;
	height: 1200px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 0px 15px 0px;
}

/*home start*/

#hometopnav {
	float: right;
}

#topnavigation {
	margin-left: 10px;
	float: right;
}

#homecontentbackground {
	border: 2px #ccc solid;
	height: 1000px;
	padding: 15px;
	margin-top: 60px;
}

#homelogo {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	border: 0px green solid;
	clear: both;
	text-align: center;
	margin-top: 100px;
}

#homecontentcenter {
	border: 2px #ccc solid;
	height: 300px;
	padding: 15px;
	text-align: center;
	margin-top: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#centerbuttons {
	border: 2px #ccc solid;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 700px;
	padding: 150px;
}

#videodemo {
	border: 2px #ccc solid;
	height: 80px;
	width: 300px;
	padding: 15px;
	float:left;
	margin-left: 55px;
	margin-top: 90px;
	text-align: center;

}
#whatisbookex{
	border: 2px #ccc solid;		
	height: 80px;
	width: 300px;
	padding: 15px;
	float: left;
	margin-left: 55px;	
	margin-top: 90px;
	text-align: center;

}

#bottomnavigation {
	text-align: center;
}

/*home end*/
