
#pagecontainer{
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	border: 0px red solid;
}

	#registrationtitle{
		text-align:center;
	}

	/*FRONT PAGE*/
	#frontpagetopnavigationlist {
		float: right;
		margin-right: 10px;
		margin-bottom: 25px;

	}
	#frontpagecontent {
		margin-top: 100px;
		margin-bottom: 100px;
	}
	

/*#1 TOP STARTS*/
/*HEAD THAT INCLUDE THE LOGO*/
#header {
	width: 300px;
	float:left;
}

	#bookexlogo {
		font-size: 72px;
		width: 300px;
		float: left;
		height: 85px;
		margin-top: 15px;
	}

	#bookexlogo img{
		height: 70px;
	}

	#bookexlogo.frontpageonly {
		text-align:center;
		width:848px;
		height: 110px;	
	}

	#bookexlogo.frontpageonly img{
		height: 100px;
	}

/* SEARCH */
#search {
	float: right;
	margin-left: 0px;
	margin-top: 20px;	
	margin-bottom: 15px;
}
	select {
		width: 100px;
	}
/*NAVIGATION*/	
#navigation {
	float: right;
	margin-right: 0px;
	margin-bottom: 0px;
}

	#navigation  ul {
		margin: 0px;
		padding: 0px;
		list-style-type: none;
	}

	#navigation ul li {
		display: inline;
		
		padding-left: 14px;	
		/*padding-right: .3em;
		background-color: #ccc;*/
		
	}
	
	/*
	body#dashboard a#dashboard,
	body#mybooks a#mybooks,
	body#profile a#profile ,
	body#submitbug a#submitbug{	
		color: #fff;
		background: #87CEEB;	
	}
	*/
	
	/*apply to all*/
	ul li a{
		text-decoration: none;		
		font-family : arial, verdana, sans-serif;
		font-size: 9pt;
		text-transform: uppercase;		
	}
	
	ul li a:hover{
		text-decoration: none;
		color: #aaaaaa;
	}
	/*IN THE PHP*/
	#activenavmenu {
		color: black;	
	}
	
	ul li a:visited {
		color: blue;
	}
/*#1 TOP ENDS*/
		
/*#2 PAGE STARTS*/
#page {
	clear: both;
	margin: 10px;
	border: solid 1px #ddd;	
	background: #eee;
	width: 848px;
	margin-left: auto;
	margin-right: auto;
	min-height: 700px;
	padding: 0px 0px 0px;
	}
	.pageTitle {
		font-size: 30px;
		margin: 10px;
		margin-left: 20px;
	}

	.pageSubTitle {
		font-size: 20px;
		margin: 10px;
		margin-left: 20px;
	}
		
	.contentarea  {
	
	/*border-radius: 5px;*/
	border: solid 1px #aaa;
	margin: 10px;
	padding: 5px;
	background: white;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/*overflow: hidden;*/
	
	}

	.contentarea table {
		width: 98%;
		border-spacing: 0px 3px;
		margin-left: 1%;
		margin-right: 1%;
	}

	.contentarea table thead tr {
		background: #ddd;
	}

	.contentarea table tbody tr {
		background: #eee;
		border-spacing: 5px;
	}

	.contentarea table tbody tr {
		background: #eee;
		border-spacing: 5px;
	}
	
		
	/*DASHBOARD STARTS*/	
		/*A space to notify , give feedback to user what they just did, eg. have just deleted a book */	
		#notification{
			width: 800px;
			margin-left:auto;
			margin-right:auto;
			padding: 5px;
			border: 0px gray solid;
			background-color: #FFFFE0;
			display: none;	
		}
			#notification.show{
				display: block;
			}
			#notification.hide{
				display: none;
		}

		.hide {
			display: none;
		}

		/* Dashbaord message header */
		.header {
			font-size: 20px;
			margin:10px;
		}

		#yourrequests p {
			color: #1E90FF; /**/	
		}

		#othersrequests p{
			color: red;
		}
		#deliveryconfirmations p{
			color: 	#DAA520; /*goldrod*/
		}
		#receiveconfirmations p {
			color: #DAA520;
		}
		#returnconfirmations p {
			color: orange;
		}
		#notificationmessagearea p {
			color: #9ACD32;
		}
		#booksborrowedlist p {
			color: green;
		}
	
		
	
	/*DASHBOARD ENDS*/	
	
	
	
	/*MY BOOKS*/
	
		#mybooklist .pageSubTitle {
			margin-left: 5px;
		}
		#searchresults .pageSubTitle {
			margin-left: 5px;
		}

		
		/*
		#booksearchresults .pageSubTitle {
			margin-left: 5px;
		}
		*/







	
/*
#confirmationmessagearea.contentarea{
	overflow: hidden;
	
}	
#notificationmessagearea.contentarea {
	overflow: hidden;	
}

#booksborrowedlist.contentarea {
	overflow: hidden;	
}
#searchresultsarea.contentarea {
	overflow:hidden;
}
*/

	/*Truncate book list in other's profile */

	#profilebooktitle div{   
     	white-space: nowrap;  
     	overflow: hidden;  
     	text-overflow: ellipsis;   
     	-o-text-overflow: ellipsis;  
		-moz-binding: url('xml/ellipsis.xml#ellipsis');  
		width: 350px;
	}
	
	#profilebookauthor div{   
     	white-space: nowrap;  
     	overflow: hidden;  
     	text-overflow: ellipsis;   
     	-o-text-overflow: ellipsis;  
		-moz-binding: url('xml/ellipsis.xml#ellipsis');  
		width: 150px;
	}
	/*belong to a td*/
	#profilebooktitle {
		width: 350px;
	}
	
	#profilebookauthor {
		width: 150px;
	}
	
	#profileisbn {
		width: 100px;
	}

	/*Truncate book list in other's profile */
	
	

/* These are the button columns, they are all the same width */
.yourrequestsbutton , .othersrequestsacceptbutton, .othersrequestsdenybutton, 
.bookreturnbutton, .receiveconfirmationsbutton, .deliveryconfirmationsbutton , .returnconfirmationsbutton , .dashboardbutton input{

	width: 100px;
	text-align: center;
}


.leftContent {
	float: left;
	width: 200px;
}

.rightContent {
	float: left;
	padding: 15px;
	width: 545px;
	border: 0px solid black;
	background-color: #eee;
}

.clear {
	clear: both;
}

#bookImageContent {
	text-align: center;
	margin: 10px;
}

#bookImagePhoto {
	margin-left: 25px;	
	width: 130px;
	height: 180px;
	border: 1px solid gray;
	
}

button {
	width:100px;
}

.requestbutton {
	width:100px;
}

.detailsrequestbutton {
	text-align: center;
}

.smallbtn { 
	width: 100px !important;
	margin: 10px;
}

.actionButton {
	width: 100px !important;	
	min-width: 100px;
	height: 30px;
	margin: 10px;
}

#defaultform div {
	min-height: 2em;
} 

/* For the details screen, the details are wrapped in a div.. so float it */
#defaultform div  div{
	/*float: left;*/
} 
#defaultform label {
	clear: left;
	float: left;
	width: 10em;
}

#defaultform input[type='text'] {
	width: 28em;
}

#defaultform textarea {
	width: 41em;
	height: 6em;
	
}

.bookDescription {
	max-width: 500px;
}

#bookdetailsbuttons {
	width: 545px;
}

#informationbuttons {
	margin: 25px;
	text-align: center;
}

#informationbuttons input[type='submit'] {
	height: 100px;
	width: 200px;
	margin: 50px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	font-size: 17pt;
}

#uwnetiddisplayarea {
	
	text-align: center;
	margin-left:auto;
	margin-right: auto;
}


#additionalinfotextareas label {
	clear: left;
	float: left;
	width: 8.5em;
	text-align: right;
	margin: 5px;
	
}

#additionalinfotextareas input[type='text'] {
	
	text-align: left;
	width: 20em;
	margin: 5px;
}

#pleasenotemessage {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: justify;	

}
/* Center the net ID area */
.centerDiv {
	margin-left: auto;
	margin-right: auto;
}

#agreeandregistercontent, #additionalinfotextareas { 
	width: 500px;
}
	#centeringtextarea {
		width: 500px;
		margin-right: auto;
		margin-left: auto;
		text-align:center;
		border: 0px blue solid;
		padding: 10px 0px 10px;
	}
	
	
#agreementbuttons {
	width: 70%;
	text-align: center;
	padding: 10px;
}

#agreementbuttons input[type='submit'] {
	margin: 15px;
}

/*Larry*/


	
	/* SEARCH STARTS */
		#searchterm {
			color: green;
		}
	
	/* SEARCH ENDS */

	/* FOOTER STARTS */
		#footer {
			margin-left: auto;
			margin-right: auto;
		}

		#footernavigation {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			margin: 0px;
			padding: 0px;
			list-style-type: none;
		}

		#footernavigation li {
			display: inline;	
			/*background-color: #ccc;*/
			padding-left: 15px;
			padding-right: 15px;
		}



		#copyrightstatement {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

	/*FOOTER ENDS*/
	
	/*GERNERAL STARTS*/
		 a {
			text-decoration:none;
		}

		.button-container form,
		.button-container form div#firstbutton, form div#secondbutton {
			display: inline;
		}

		.button-container input {
			display: inline;
		}

	/*GERNERAL STARTS*/
	
	
 /*TRUNCATE TEXT
    .ellipsis {  
        white-space: nowrap;  
        overflow: hidden;  
        text-overflow: ellipsis;  
        -o-text-overflow: ellipsis;  
		-ms-text-overflow: ellipsis; 
        -moz-binding: url('ellipsis.xml#ellipsis');  
    }  */

	
